<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
    <link rel="stylesheet" href="/css/mobile/style.css">

</head>
<body>
<div class="container item">
    <div class="item-inner">
        <div class="item-header">
            <div class="header-text">
                <a><i class="bi bi-chevron-left"></i></a>
                <h2 class="logo">AJ Pallet</h2>
            </div>
            <div class="header-icon">
                <a><i class="bi bi-search"></i></a>
                <a><i class="bi bi-house"></i></a>
                <a><i class="bi bi-cart"></i></a>
            </div>
        </div>
        <div class="item-img">
            <img src="http://ajnetworks.co.kr/assets/uploads/product/product_11A_1.png" alt="">
        </div>
        <div class="item-info">
            <span>표준형 A11형</span>
            <span>1,100 * 1,100 * 150mm 19.5g</span>
            <div class="item-cost-count">
                <h2>11,760원</h2>
                <div class="count">
                    <select>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                </div>
            </div>
            <div class="item-cost-deliver">
                <a>배송비</a>
                <a>2,500원 도서산간제외</a>
            </div>
        </div>
        <div class="item-btns">
            <button class="get-cart-btn">
                장바구니 담기
            </button>
            <button class="buy-cart-btn">
                바로구매
            </button>
        </div>
    </div>
</body>
</html>