<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/mobile/style.css">

    <title>Mypage</title>
</head>
<body>
<div class="container mypage">
    <div class="mypage-inner">
        <div class="page-header">
            <a><i class="bi bi-chevron-left"></i></a>
            <h2>AJ Pallet</h2>
        </div>
        <div class="myinfo">
            <div class="my-img">
                <a href="">img</a>
            </div>
            <div class="my-info">
                <div class="my-grade">
                    <span>회원</span>
                    <a><i class="bi bi-person-gear"></i></a>
                </div>
                <h3>김현석</h3>
                <div class="my-company">
                    <span>회사명</span>
                    <a>삼성전자</a>
                </div>
            </div>
        </div>
        <span>배송및 예약중 상품</span>
        <div class="deliver-items">
            <div class="deliver-item">
                <img src="http://ajnetworks.co.kr/assets/uploads/product/product_11A_1.png">
                <div class="input-dates">
                    <div class="input-date">
                        <a><i class="bi bi-clock"></i></a><a>수령일</a><input type="date">
                    </div>
                    <div class="input-date">
                        <a><i class="bi bi-clock"></i></a><a>반납일</a><input type="date">
                    </div>
                </div>

            </div>
            <div class="deliver-items">
                <div class="deliver-item">
                    <img src="http://ajnetworks.co.kr/assets/uploads/product/product_11A_1.png">
                    <div class="input-dates">
                        <div class="input-date">
                            <a><i class="bi bi-clock"></i></a><a>수령일</a><input type="date">
                        </div>
                        <div class="input-date">
                            <a><i class="bi bi-clock"></i></a><a>반납일</a><input type="date">
                        </div>
                    </div>

                </div>

            </div>
            <div class="mypage-service">
                <div class="service-content">
                    <div class="first">
                        <a><i class="bi bi-truck"></i></a><span>주문/배송조회</span>
                    </div>
                    <div class="second">
                        <a><i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>

                <div class="service-content">
                    <div class="first">
                        <a><i class="bi bi-telephone-inbound"></i></a><span>상품문의</span>
                    </div>
                    <div class="second">
                        <a><i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>

                <div class="service-content">
                    <div class="first">
                        <a><i class="bi bi-wechat"></i></a><span>1:1 채팅상담</span>
                    </div>
                    <div class="second">
                        <a><i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>

                <div class="service-content">
                    <div class="first">
                        <a><i class="bi bi-exclamation-circle"></i></a><span>공지사항</span>
                    </div>
                    <div class="second">
                        <a><i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <button class="btn-primary btn-logout">로그아웃</button>

        </div>
    </div>
</body>
</html>