<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="/css/mobile/style.css">
</head>
<body>
<div class="container signup">
    <div class="signup-inner">
        <div class="signup-header">
            <img src="/img/mobile/index.png"class="icon">
            <h2>회원가입</h2>
        </div>
        <div class="input-field signup-conent">
            <input type="email" placeholder="이메일 입력(필수)">
            <input type="password" placeholder="비밀번호 입력(필수)">
            <input type="password" placeholder="비밀번호 재확인 입력(필수)">
            <input type="text" placeholder="담당자명 입력(필수)">
            <input type="text" placeholder="범인명 입력(필수)">
            <input type="text" placeholder="휴대전화번호 입력(필수)">
            <input type="text" placeholder="사업자등록번호">
            <input type="text" placeholder="회사전화번호">
        </div>
        <button class="btn-primary btn-signup">가입하기</button>
    </div>
</div>
</body>
</html>